header{
  text-align: center;
}
header nav {
  display:flex;
  justify-content: space-around;
}
header nav a{
  color: black;
  text-decoration: none;
}

header nav div{
  font-size: larger;
  background-color: cadetblue;
  color: black;
  border-radius: 7px;
  width: 200px;
}